body {
    overflow: hidden;
    display: flexbox;
    justify-content: center;
    user-select: none;
    margin: 0;
}
  

div {
    text-align: center;
    font-family: 'Inter', sans-serif;
    cursor: default;
}

#big {
    font-size: 404px;
    font-weight: 900;
}

#small {
    font-size: 36px;
    font-weight: 404;
}

#button {
    width: 5em;
    display: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 404;
    margin: auto;
    margin-top: 75px;
    padding: 10px;
    border: 1px solid black;
    transition: 0.15s;
}

#button:hover {
    background-color: black;
    color: white;
    margin-top: 70px;
    box-shadow: 0px 4px 4px black;
}

#button:active {
    margin-top: 72px;
}

#button.yay {
    display: block;
    animation: yay 0.8s cubic-bezier(.72,1.95,.49,.66)
}

#counter {
    position: fixed;
    left: -100px;
    bottom: -100px;
    font-size: 24px;
    font-weight: 404;
}

#counter.yay {
    animation: other-yay 0.8s cubic-bezier(.72,1.95,.49,.66);
    left: 100px; 
    bottom: 100px;
}

#black {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#black.yay {
    animation: black-yay 2s cubic-bezier(0.86, 0, 0.07, 1);
    left: 0;
}

#big2 {
    font-size: 404px;
    font-weight: 900;
    color: white;
}

#small2 {
    font-size: 36px;
    font-weight: 404;
    color: white;
}

@keyframes yay{
    from {margin-top: 250px;}
    to {margin-top: 75px;}
}

@keyframes other-yay {
    from {left: -100px; bottom: -100px;}
    to {left: 100px; bottom: 100px;}
}

@keyframes black-yay {
    from {left: 100%;}
    to {left: 0;}
}