body{
    /*background: red no-repeat;
    background-size: cover;

    animation: bg 60s infinite linear;*/

    background: linear-gradient(45deg, #cc2f51, #eb9217, #d4b60a, #68ce16, #16ce7e, #20d5bf, #2998e4, #6063f0, #a960f0, #e438c7);
    background-size: 1000% 1000%;
    animation: grad 60s cubic-bezier(.25,.1,.85,1) infinite;

    overflow-y: hidden; 
}

body.darkmode{
    background: black;
    animation: none;
}

div{
    font-family: 'Cardo', serif;
    color: white;
}

#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    margin: auto;
    border: 2px solid white;
    padding: 5%;
    min-width: 40%;
    text-align: center;
    box-shadow: 0px 0px 3px white;
}

#clock.darkmode{
    border: none;
    box-shadow: none;
}

#time{
    font-size: 92px;
    display: inline;
    cursor: pointer;
    position: relative;
}

#time::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 15px;
    background: white;
    height: 1px;
    transition: 0.2s ease-out;
}

#time:hover::before{
    right: 0;
    left: 0;
}

#time.am::after{
    font-size: 36px;
    padding-left: 5px;
    content: "AM";
}

#time.pm::after{
    font-size: 36px;
    padding-left: 5px;
    content: "PM";
}

#csspositioningisstupid{
    display: block;
}

#date{
    font-size: 24px;
    cursor: pointer;
    position: relative;
    display: inline;
}

#date::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: white;
    height: 1px;
    transition: 0.2s ease-out;
}

#date:hover::after{
    right: 0;
    left: 0;
}

#transition{
    z-index: 1;
    position: fixed;
    bottom: -130vh;
    left: 0;
    fill: rgb(1, 3, 10);
}

#transition.play{
    animation: slide 2s cubic-bezier(.45,.13,0,.99);
}

/*#dm-button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;
    transition: 2s;
    color: rgba(255, 255, 255, 0.1);
    transition: 0.25s;
}

#dm-button.darkmode {
    color: transparent;
}

#dm-button:hover {
    color: rgba(255, 255, 255, 1)
}*/

.pos {
    position: fixed;
}

.btn {
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 25px;
    text-align: center;
    border-radius: 50%;
    transition: 0.25s;
    text-shadow: 0px 0px 2px white;
}

.btn:hover {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 3px white;
    color: black;
    cursor: pointer;
}

.btn .tooltip {
    position: absolute;
    right: 105%;

    white-space: nowrap;
    height: 1px;
    line-height: 1px; /* this centers the text lol */

    padding-right: 10px;
    opacity: 0;
    z-index: 1;
    visibility: hidden;

    transition-duration: 0.2s;
}

.btn:hover .tooltip {
    opacity: 100%;
    visibility: visible;
    transition-delay: 1s;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#fs-pos{
    top: 0;
    right: 0;
}

#dm-pos{
    bottom: 0;
    right: 0;
}

#info-pos{
    top: 0;
    left: 0;
}

#info-pos .tooltip {
    left: 115%;
}

.dialog {
    opacity: 0;
    z-index: -2;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.692);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    transition: .5s;
}

.dialog.visible {
    z-index: 2;
    opacity: 100%;
}

.box {
    position: relative;
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 5px white;
    color: black;
    /*border-radius: 10px;*/
}

.header {
    color: black;
    text-align: center;
    font-size: 36px;
    margin: 0.5em;
}
.subheader {
    color: black;
    text-align: center;
    font-size: 24px;
    margin: 0.5em;
}

li {
    font-size: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    color: black;
    text-align: center;
    font-size: 20px;
    margin: 1em;
}

@keyframes bg{
    0%   {background-color: #cc2f51;}
    10%  {background-color: #dd9128;}
    20%  {background-color: #c6ba0f;}
    30%  {background-color: #68ce16;}
    40%  {background-color: #16ce7e;}
    50%  {background-color: #20d5bf;}
    60%  {background-color: #2998e4;}
    70%  {background-color: #5759eb;}
    80%  {background-color: #9b4ee7;}
    90%  {background-color: #e438c7;}
    100% {background-color: #cc2f51;}
}

@keyframes slide{
    0% {bottom: -130vh;}
    100% {bottom: 130vh;}
}

@keyframes grad {
    0%{background-position:100% 0%}
    /*25%{background-position: 50% 50%;}*/
    50%{background-position:0% 100%}
    /* 75%{background-position: 50% 50%;} */
    100%{background-position:100% 0%}
}
